<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>addCourse</title>
</head>
<body>
<h1>try to add course...</h1>
<form name="add-form" th:action="@{/add}" method="post">
    <table border="1">
        <tr>
            <th>课程添加</th>
        </tr>
        <tr>
            <td>课程名：<input name="name" type="text"/></td>
        </tr>
        <tr>
            <td>学院：<input name="dept" type="text"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="保存"/></td>
        </tr>
    </table>
</form>
</body>
</html>