<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Info......</h1>
<a th:href="@{/toAdd}">添加course-record</a>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>名字</td>
        <td>dept</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courseModel.courseList}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.dept}"></td>
        <td ><a th:href="@{/toUpdate(id=${course.id})}">修改</a>&nbsp;&nbsp;<a th:href="@{/delete(id=${course.id})}">删除</a></td>

    </tr>
    </tbody>
</table>

</body>
</html>