<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

<form name="update-form" th:action="@{/update}" method="post">
    <input name="id" type="hidden" th:value="${course.id}">
    <table border="1">
        <tr>
            <th>课程修改</th>
        </tr>
        <tr>
            <td>课程名：<input name="name" type="text" th:value="${course.name}"/></td>
        </tr>
        <tr>
            <td>学院：<input name="dept" type="text" th:value="${course.dept}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="保存"/></td>
        </tr>
    </table>

</body>
</html>